*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.buscar{
    width: 20px;
}
menu{
    color: white;
}
.esfera{
    width: 50px;
    padding: 5px;
}
.caja{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.facebook{
    width: 300px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    gap: 10px;
}
div>.img-card{
    padding: 5px;
}
href{
    text-decoration: none;
}